﻿@model AssaAbloyMvcCore.Models.Production

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Production</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ProductionId" class="control-label"></label>
                <input asp-for="ProductionId" class="form-control" />
                <span asp-validation-for="ProductionId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Aantal" class="control-label"></label>
                <input asp-for="Aantal" class="form-control" />
                <span asp-validation-for="Aantal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creationdate" class="control-label"></label>
                <input asp-for="Creationdate" class="form-control" />
                <span asp-validation-for="Creationdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumbersId" class="control-label"></label>
                <input asp-for="NumbersId" class="form-control" />
                <span asp-validation-for="NumbersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Done" class="control-label"></label>
                <input asp-for="Done" class="form-control" />
                <span asp-validation-for="Done" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @ViewBag.message
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
