﻿@model IEnumerable<AssaAbloyMvcCore.Models.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Demo Project to Display Records From Database Using Asp.Net Core 3.1 in MVC</h1>
    <hr/>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technisch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technisch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
        </tr>
}
    </tbody>
</table>
